/*----------------------------------------------------------------------------- 
[Pago] Screen Stylesheet 

version:   1.0 
date:      15/04/2021
author:    [Etleva Kuci] 
email:     [etleva.kuci@xserv.ag] 
website:   [xserv.ag] 
version history: [1.0] 
*/